.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules/
packages/**/node_modules/
packages/**/dist
packages/**/logs


.editorconfig
.yarnrc
.yarnrc.yml
.vscode
.yarn
.DS_Store